<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h3>Book Directory</h3>
    <hr>

    <p class="h4 mb-4">Add Book</p>

    <form action="#" th:action="@{/books/save}" th:object="${book}" method="POST" class="dark-form">
        <input type="hidden" th:field="*{bookId}" />

        <div class="row">
            <div class="form-group col-md-6">
                <label th:for="*{title}">Title</label>
                <input type="text" th:field="*{title}" class="form-control" placeholder="Title">
            </div>

            <div class="form-group col-md-6">
                <label th:for="*{author}">Author</label>
                <select th:field="*{author}" class="form-control">
                    <option value="" disabled selected>Select Author</option>
                    <option th:each="author : ${authors}" th:value="${author.authorId}"
                            th:text="${author.name}"></option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label th:for="*{publisher}">Publisher</label>
                <select th:field="*{publisher}" class="form-control">
                    <option value="" disabled selected>Select Publisher</option>
                    <option th:each="publisher : ${publishers}" th:value="${publisher.publisherId}"
                            th:text="${publisher.name}"></option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label th:for="*{category}">Category</label>
                <select th:field="*{category}" class="form-control">
                    <option value="" disabled selected>Select Category</option>
                    <option th:each="category : ${categories}" th:value="${category.categoryId}"
                            th:text="${category.name}"></option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label th:for="*{price}">Price</label>
                <input type="text" th:field="*{price}" class="form-control" placeholder="Price">
            </div>

            <div class="form-group col-md-6">
                <label th:for="*{publishedDate}">Published Date</label>
                <input type="text" th:field="*{publishedDate}" class="form-control" placeholder="Published Date">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label th:for="*{isbn}">ISBN</label>
                <input type="text" th:field="*{isbn}" class="form-control" placeholder="ISBN">
            </div>

            <div class="form-group col-md-6">
                <label th:for="*{stockQuantity}">Stock Quantity</label>
                <input type="text" th:field="*{stockQuantity}" class="form-control" placeholder="Stock Quantity">
            </div>
        </div>

        <button type="submit" class="btn btn-info col-2">Add</button>
    </form>

    <hr>
    <a th:href="@{/books}">Back to books</a>

</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

